@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,400italic,600,600italic);

body { font-family: Open Sans, San Serif; font-size: 1.0em; overflow-y: scroll; }
.header-wrapper, #contents { width: 1200px; margin: 0 auto; }
#header { position: fixed; }
#header div h1 { margin-bottom: 0px; margin-top: 10px; }
#header div h3 { margin-left: 20px; margin-top: 0px; }

#selectable .ui-selecting { background: #FECA40;  }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { list-style-type: none; padding: 0; margin: 0; }
#selectable li { border: 0px; padding: 5px 5px 5px 10px; background: none; color: #000; border-radius: 3px; }
#selectable li:hover { background-color: #FECA40; transition: all .2s linear; -moz-transition: all .2s linear; -webkit-transition: all .2s linear; -o-transition: all .2s linear; }
#selectable li.select-hide { display: none; }

#search { margin: 0; padding-left: 32px; width: 336px; height: 30px; background-size: 32px 32px; background-image: url("custom-theme/images/view.png"); background-repeat: no-repeat; border-radius: 5px; }

.ui-widget { margin: 0 0 0 30px; font-size: 1.0em; }
.ui-widget-content { background: #fff; color: #000; }
.left-panel { width: 350px; float: left; margin-left: 30px; }
#contents .left-panel { position: fixed; top: 112px; }
.red-modifier { color: red; font-weight: bold; padding-right: 10px; }
.green-modifier { color: green; font-weight: bold; padding-right: 10px; }
.ui-menu { background-color: #fff; color: #000; }
.ui-widget-content a { color: #000; }
.right-panel { float: left; height: 50px; margin-left: 50px; background: #fff; padding: 25px 0; }
.right-panel a { margin: 0 5px; }
.right-panel-header { margin-top: 0; }
.right-panel-content { margin-bottom: 10px; }
.select_wrapper { max-height: 500px; overflow-y: auto; overflow-x: hidden; padding: 10px 10px; border-radius: 5px; background-color: #fff; border: 1px solid #ccc; margin-top: 10px;  width: 350px; }
#modifiers { width: 750px; float: left; left: 400px; position: relative; top: 100px; }
#modifiers div p span { float: left; width: 45px; text-align: right; }